<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Sans+KR:wght@500&display=swap"
          rel="stylesheet">
    <title>ERROR 400</title>
    <style>
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
            font-family: 'Bagel Fat One', cursive;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
    <title>ERROR 404</title>
</head>
<body>
<div class="card my-4" style="width:70%; margin:0 auto; height:70vh;">
    <div class="card-header" style="background:tan;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill"
             viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-circle-fill"
             viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill"
             viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8"/>
        </svg>
    </div>
    <div class="card-body p-5 d-flex align-items-center justify-content-center" style="background:linen;">
        <div class="card-text text-center">
            <div class="d-flex justify-content-center align-items-center">
                <div style="font-size:10rem;">4</div>
                <img src="https://cdn-icons-png.flaticon.com/128/8811/8811274.png?uid=R128761799&ga=GA1.1.1664241654.1699926616"
                     alt="" style="width:200px; height:200px;">
                <img src="https://cdn-icons-png.flaticon.com/128/8811/8811274.png?uid=R128761799&ga=GA1.1.1664241654.1699926616"
                      alt="" style="width:200px; height:200px;">
            </div>
            <div style="font-size:3rem;">ERROR</div>
            <div style="font-size:4.5rem;">Bad Request</div>
            <a href="/" class="badge bg-light text-dark fs-4 mt-5 p-2 border border-dark" type="button"
               style="font-family: 'IBM Plex Sans KR', sans-serif; text-decoration:none; text-shadow:none; box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);">GO HOME →</a>
        </div>
    </div>
</div>
</body>
</html>