<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form id="messageForm">
        <input type="hidden" id="user" th:value="${user.loginId}">
        <input type="hidden" id="target" th:value="${target.loginId}">
        <input type="hidden" id="room" th:value="${room}">
        <input type="text" id="messageInput" placeholder="메시지 입력">
        <button type="submit">전송</button>
    </form>
    <div id="chatMessages">
        <p th:each="chat : ${chatList}" th:text="|${chat.writer}: ${chat.content}|"></p>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/' + $("#room").val(), function (chatMessage) {
                    showMessage(JSON.parse(chatMessage.body));
                });
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        function sendMessage() {
            var target = $("#target").val();
            var writer = $("#user").val();
            var messageInput = $("#messageInput").val();
            var room = $("#room").val();

            stompClient.send("/app/chat", {}, JSON.stringify({
                content: messageInput,
                writer: writer,
                target: target,
                room: room
            }));
            $("#messageInput").val("");
        }

        function showMessage(message) {
            $("#chatMessages").append("<p>" + message.writer + ": " + message.content + "</p>");
        }

        $("#messageForm").submit(function (e) {
            e.preventDefault();
            sendMessage();
        });

        connect();
    });
</script>
</html>