<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="d-flex my-4">
        <div style="background:white; width:25%; margin:0 auto; padding:30px; border-radius:15px;">
            <h3 class="border-bottom pb-2">채팅 목록</h3>
            <div th:if="${roomList.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">채팅 내역 없음</h3>
            </div>
            <ul class="list-group" th:if="${!roomList.isEmpty()}">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    th:each="chat : ${roomList}" th:classappend="${chat.room == room} ? 'active'">
                    <div>
                        <a th:href="@{|/chat/join/${chat.room}|}" th:text="|${chat.target.name}님과 대화|"></a>
                        <span th:id="|alarm_${chat.room}|" class="confirm badge bg-danger text-light"
                              style="display:none;" th:data-value="${chat.confirm}">N</span>
                    </div>
                    <form th:action="@{|/chat/delete/${chat.room}}" method="post">
                        <button type="submit" class="btn btn-sm 버튼">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
        <div style="background:white; width:70%; margin:0 auto; padding:30px; border-radius:15px;">
            <h3 class="border-bottom pb-2">실시간 채팅 문의</h3>
            <div style="width:80%; margin:0 auto; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);" class="card my-3">
                <div class="card-header p-3 d-flex justify-content-between" style="background:#9FB3CD">
                    <h4 th:text="|${target.name} >|"></h4>
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-telephone-fill ms-3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-camera-video-fill ms-3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-list ms-3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </div>
                </div>
                <div class="chatContainer card-body">
                    <div th:each="chat : ${chatList}">
                        <div class="d-flex my-2 align-items-end"
                             th:classappend="${chat.writer.loginId == user.loginId} ? 'justify-content-end'">
                            <img src="/image/customer.jpg" alt="" th:if="${chat.writer.loginId != user.loginId}"
                                 style="width:50px; height:50px; border-radius:40%; border:1px solid gray;">
                            <div th:text="${#temporals.format(chat.createDate, 'a h시 m분')}"
                                 th:if="${chat.writer.loginId == user.loginId}"
                                 style="font-size:11pt; color:gray;"></div>
                            <div th:text="${chat.content}" class="mx-2 p-2 fs-5"
                                 style="border-radius:10px; background:gold;"
                                 th:classappend="${chat.writer.loginId == user.loginId} ? 'text-dark' : 'bg-light border border-dark'"></div>
                            <div th:text="${#temporals.format(chat.createDate, 'a h시 m분')}"
                                 th:if="${chat.writer.loginId != user.loginId}"
                                 style="font-size:11pt; color:gray;"></div>
                            <img src="/image/owner.jpg" alt=""
                                 style="width:50px; height:50px; border-radius:40%; border:1px solid gray;"
                                 th:if="${chat.writer.loginId == user.loginId}">
                        </div>
                    </div>
                    <div id="chatMessages" class="my-2"></div>
                </div>
                <form id="messageForm">
                    <input type="hidden" id="user" th:value="${user.loginId}">
                    <input type="hidden" id="target" th:value="${target.loginId}">
                    <input type="hidden" id="room" th:value="${room}">
                    <input type="hidden" id="restaurantId" th:value="${restaurant.id}">
                    <input type="hidden" id="owner" th:value="${owner}">
                    <input type="hidden" id="customer" th:value="${customer}">
                    <textarea id="messageInput" placeholder="메시지 입력" rows="5" class="form-control"></textarea>
                    <div class="d-flex justify-content-end m-1">
                        <button type="submit" class="btn" style="background:gold;">전송</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        $('.confirm').each(function(index, element) {
            if ($(element).attr('data-value') == 'false') {
                $(element).show();
            }
        });

        var stompClient = null;

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/topic/' + $("#room").val(), function (chatMessage) {
                    showMessage(JSON.parse(chatMessage.body));
                });

                stompClient.subscribe('/topic/room', function (chatMessage) {
                    showAlarm(JSON.parse(chatMessage.body));
                });
            });
        }

        function showAlarm(data) {
            if (data.room != $('#room').val()) {
                var elementId = '#alarm_' + data.room;
                $(elementId).show();
            }
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
        }

        function sendMessage() {
            var target = $("#target").val();
            var writer = $("#user").val();
            var messageInput = $("#messageInput").val();
            var room = $("#room").val();
            var restaurantId = $("#restaurantId").val();

            stompClient.send("/app/chat", {}, JSON.stringify({
                content: messageInput,
                writer: writer,
                target: target,
                room: room,
                restaurant: restaurantId,
                type: 'chat'
            }));
            $("#messageInput").val("");
        }

        function showMessage(message) {
            if (message.writer == $("#user").val()) {
                $("#chatMessages").append(
                    "<div style='display:flex; justify-content:end; align-items:center;' class='my-2'>" +
                        "<div style='display:flex; align-items:center;'>" +
                            "<span class='text-dark mx-2 p-2 fs-5' style='background:gold; border-radius:10px;'>" + message.content + "</span>" +
                            "<img src='/image/owner.jpg' style='width:50px; height:50px; float:right; border:1px solid gray; border-radius:40%;'>" +
                        "</div>" +
                    "</div>"
                );
            }
            else
                $("#chatMessages").append(
                    "<div style='display:flex; justify-content:start; align-items:center;' class='my-2'>" +
                        "<div style='display:flex; align-items:center;'>" +
                            "<img src='/image/customer.jpg' style='width:50px; height:50px; float:right; border:1px solid gray; border-radius:40%;'>" +
                            "<span class='bg-light text-dark border border-dark mx-2 p-2 fs-5' style='border-radius:10px;'>" + message.content + "</span>" +
                        "</div>" +
                    "</div>"
                );
        }

        $("#messageForm").submit(function (e) {
            e.preventDefault();
            sendMessage();
        });

        connect();

        $(window).on('beforeunload', function(e) {
            $.ajax({
                url: '/alarm/confirm',
                type: 'post',
                data: {
                    room: $("#room").val()
                },
                beforeSend: function(jqXHR) {
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                }
            });

            location.href="/main";
        });
    });
</script>
</html>