<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">비밀번호 변경</h5>

    <form th:action="@{/user/resetPassword/${token}}" method="post" th:object="${userResetPwForm}">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <input type="hidden" name="token" th:value="${token}">
        <div class="form-floating mb-3">
            <input type="password" th:field="*{password1}" class="form-control"
                   placeholder="Leave a comment here" id="password1">
            <label for="password1">비밀번호</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" th:field="*{password2}" class="form-control"
                   placeholder="Leave a comment here">
            <label for="password2">비밀번호 확인</label>
        </div>
        <input type="submit" value="비밀번호 변경" class="btn btn-primary my-2">
    </form>
</div>
</html>