<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="cr d-flex my-4">
        <div id="cl">
            <h3 class="border-bottom pb-2">채팅 목록</h3>
            <div th:if="${roomList.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">채팅 내역 없음</h3>
            </div>
            <ul class="list-group" th:if="${!roomList.isEmpty()}">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    th:each="chat : ${roomList}" th:classappend="${chat.room == room} ? 'active'">
                    <div>
                        <a th:href="@{|/chat/join/${chat.room}|}" th:text="|${chat.target.name}님과 대화|"></a>
                        <span th:if="${!chat.confirm}" class="badge bg-danger text-light">N</span>
                    </div>
                    <form th:action="@{|/chat/delete/${chat.room}}" method="post">
                        <button type="submit" class="btn btn-sm 버튼">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
        <div id="ct">
            <h3 class="border-bottom pb-2">실시간 채팅 문의</h3>
        </div>
    </div>
</div>
</html>