<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>맛찾사</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <style>
        * {font-family: 'IBM Plex Sans KR', sans-serif;}
    </style>
    <style>
        .소셜 {
            width:100%;
        }

        @media (max-width: 600px) {
            .소셜 {
                font-size:15pt;
            }
        }

        .버튼:hover {
            color:sienna;
            background:peachpuff;
            border:0.1px solid;
            font-weight:bold;
        }

        .버튼 {
            background:peachpuff;
            border:0.1px solid black;
            color:black;
        }

        .검색버튼 {
            background:white;
            color:black;
            border:0.1px solid black;
        }

        .검색버튼:hover {
            background:tan;
            color:white;
            border:0.1px solid tan;
        }

        .소셜 {
            width:100%;
        }

        @media (max-width: 600px) {
            .소셜 {
                font-size:15pt;
            }
        }

        .버튼:hover {
            color:sienna;
            background:peachpuff;
            border:0.1px solid;
            font-weight:bold;
        }

        .버튼 {
            background:peachpuff;
            border:0.1px solid black;
            color:black;
        }

        a {
            color:inherit;
            text-decoration:none;
        }

        a:hover {
            color:sienna;
        }

        .login {
            width:30%;
        }

        #container {
            position: relative;
            text-align: center;
        }

        .image {
            width: 100%;
            height: 100vh;
            opacity:0.5;
        }

        .small {
            display:none;
        }

        @media (max-width: 1300px) {
            .login {
                width: 100vw;
                height: 100vh;
                min-width:500px;
            }

            #container {
                display: none;
            }

            .small {
                display:block;
            }

            .media {
                display: grid;
                place-items: center;
                height: 100vh;
            }
        }
    </style>
</head>
<body>
<div class="media d-flex">
    <div id="container">
        <img src="/image/startImage.jpg"
             class="image d-flex align-items-center justify-content-center">
        <div class="text-center">
            <div class="text d-flex align-items-end justify-content-center">
                <div class="mb-4">
                    <a href="javascript:void(0)" onclick="searchForAddress();" class="버튼 btn me-3"
                       style="background:peachpuff; border:0.1px solid;">
                        <span class="fw-bold">주소</span>로 맛집 찾기 →</a>
                    <a href="javascript:void(0)" onclick="aroundMe();" class="버튼 btn"
                       style="background:peachpuff; border:0.1px solid;"><span class="fw-bold">내 주변</span> 맛집 찾기 →</a>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" class="login d-flex align-items-center justify-content-center">
        <div style="width:80%; text-align:center;">
            <img th:src="@{${user.image}}" alt=""
                 style="width:200px; height:200px; border-radius:50%; border:2px solid black; padding-top:5px;">
            <div class="mt-3 fs-2 fw-bold" th:text="${user.name}"></div>
            <div class="fs-5 mb-3" th:text="${user.authority}"></div>
            <div class="d-flex justify-content-center">
                <ol class="breadcrumb fw-bold">
                    <li class="breadcrumb-item"><a th:href="@{|/user/userDetail/${user.loginId}|}">MY-PAGE</a></li>
                    <li class="breadcrumb-item"><a href="/user/logout">LOG-OUT</a></li>
                </ol>
            </div>
            <div class="d-flex justify-content-center">
                <ol class="breadcrumb fw-bold">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="searchForAddress();">주소로 검색</a>
                    </li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="aroundMe();">내 주변 검색</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="login d-flex align-items-center justify-content-center" sec:authorize="isAnonymous()">
        <div style="width:80%;">
            <a href="/"><img src="/image/logo/navLogo-2.jpg" style="height:60px; width:auto;" alt=""></a>
            <form id="loginForm" th:action="@{/user/login}" method="post" class="mt-4">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자ID 또는 비밀번호를 확인해 주세요.
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div style="width:73%;">
                        <div class="mb-3">
                            <input type="text" name="username" id="username" placeholder="ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" id="password" placeholder="Password"
                                   class="form-control">
                        </div>
                    </div>
                    <input type="submit" class="소셜 btn mb-3" value="로그인" id="loginBtn">
                </div>
                <br>
                <div class="mb-3">
                    <a href="/oauth2/authorization/google" class="소셜 btn btn-outline-primary fw-bold">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
                             alt="">
                        구글 로그인</a>
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/naver" class="소셜 btn btn-outline-success fw-bold">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkGPv5_VNnO1SFnZNADXZ9972iiFmdMuLPC6r1e_MBDNMVOyPhchKn9wiCl10FaHE3eBo&usqp=CAU"
                             alt="">
                        네이버 로그인</a>
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/kakao" class="소셜 btn btn-outline-warning fw-bold">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://cdn.imweb.me/thumbnail/20220403/a8e484f2dfe39.png"
                             alt="">
                        카카오 로그인</a>
                </div>
            </form>
            <form id="signupForm" th:action="@{/user/signup}" style="display: none;" th:object="${userCreateForm}"
                  method="post" class="mt-3">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="form-floating mb-3">
                    <input th:field="*{loginId}" placeholder="Leave a comment here" class="form-control" id="loginId">
                    <label for="loginId">아이디</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Leave a comment here"
                           id="name">
                    <label for="name">이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" th:field="*{password1}" class="form-control"
                           placeholder="Leave a comment here" id="password1">
                    <label for="password1">비밀번호</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" th:field="*{password2}" class="form-control"
                           placeholder="Leave a comment here">
                    <label for="password2">비밀번호 확인</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" th:field="*{email}" class="form-control" placeholder="Leave a comment here">
                    <label for="email">이메일</label>
                </div>
                <select th:field="*{authority}" class="form-select mb-3">
                    <option value="" selected>권한을 선택하세요.</option>
                    <option value="손님">손님</option>
                    <option value="사장님">사장님</option>
                </select>
                <div>
                    <label for="image" class="form-label">이미지 선택</label>
                    <input type="hidden" id="image" name="image">
                    <div style="width:90%; margin:0 auto;">
                        <div class="d-flex justify-content-around mb-3">
                            <img src="/image/user/wUser1.jpg" class="img" style="border-radius:50%; width:20%;"
                                 onclick="selectImage(this)">
                            <img src="/image/user/wUser2.jpg" class="img" style="border-radius:50%; width:20%;"
                                 onclick="selectImage(this)">
                            <img src="/image/user/wUser3.jpg" class="img" style="border-radius:50%; width:20%;"
                                 onclick="selectImage(this)">
                        </div>
                        <div class="col d-flex justify-content-around">
                            <img src="/image/user/mUser1.jpg" class="img" style="border-radius:50%; width:20%;"
                                 onclick="selectImage(this)">
                            <img src="/image/user/mUser2.jpg" class="img" style="border-radius:50%; width:20%;"
                                 onclick="selectImage(this)">
                            <img src="/image/user/mUser3.jpg" class="img" style="border-radius:50%; width:20%;"
                                 onclick="selectImage(this)">
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" class="소셜 btn" id="signupBtn">회원가입</button>
            </form>
            <br>
            <div class="small mb-5">
                <div class="d-flex justify-content-around text-center align-items-center">
                    <a href="javascript:void(0)" class="검색버튼 btn" style="width:49%; padding:5px;" onclick="searchForAddress();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-building" viewBox="0 0 16 16">
                            <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"/>
                        </svg>
                        <span class="fw-bold">주소</span> 검색</a>
                    <a href="javascript:void(0)" class="검색버튼 btn" style="width:49%; padding:5px;" onclick="aroundMe();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pin-angle-fill" viewBox="0 0 16 16">
                            <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
                        </svg>
                        <span class="fw-bold">내 주변</span> 검색</a>
                </div>
            </div>
            <div class="d-flex justify-content-around mb-4">
                <a href="#" onclick="showForm('loginForm')" id="loginLink" class="소셜">로그인</a>
                <a href="#" onclick="showForm('signupForm')" id="signupLink" class="소셜">회원가입</a>
                <a th:href="@{/user/findIdAndPw}" class="소셜">아이디 / 비밀번호 찾기</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" th:value="${signupError}" id="signupError">
<form th:action="@{/interprocess}" method="get" id="searchAddress">
    <input type="hidden" id="inputAddress" name="inputAddress">
</form>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">

    const signup = document.querySelector("#signupBtn");
    signup.addEventListener('click', function() {
        if (document.querySelector("#image").value == '')
            alert("프로필 이미지를 선택해주세요.");
        else
            document.querySelector("#signupForm").submit();
    });

    function selectImage(image) {
      var allImages = document.querySelectorAll('.img');
      allImages.forEach(function (img) {
        img.classList.remove('selectedImage');
      });
      image.classList.add('selectedImage');
      var currentOrigin = window.location.origin;
      var imagePath = image.src.replace(currentOrigin, '');
      document.querySelector("#image").value = imagePath;
      console.log(document.querySelector("#image").value);
    }

  function searchForAddress() {
      new daum.Postcode({
          oncomplete: function(data) {
              document.querySelector('#inputAddress').value = data.address;
              document.querySelector('#searchAddress').submit();
          }
      }).open();
  }

  window.onload = function() {
      const showError = document.querySelector("#signupError").value;
      if (showError == "에러 메시지") {
          showForm('signupForm');
      } else {
          showForm('loginForm');
      }
  };

  function showForm(formId) {
      document.getElementById('loginForm').style.display = 'none';
      document.getElementById('signupForm').style.display = 'none';

      document.getElementById(formId).style.display = 'block';

      if (formId === 'signupForm') {
          document.getElementById('loginLink').style.display = 'inline';
          document.getElementById('signupLink').style.display = 'none';

      } else {
          document.getElementById('loginLink').style.display = 'none';
          document.getElementById('signupLink').style.display = 'inline';
      }
  }

  function aroundMe() {
      document.querySelector('#inputAddress').value = 'aroundMe';
      document.querySelector('#searchAddress').submit();
  }
</script>
</body>
</html>