<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- 기본 프로필 -->
    <div class="d-flex justify-content-between my-4" style="width:95%; margin:0 auto;">
        <div style="width:49%; background:white; padding:20px; border-radius:15px;">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="border-bottom pb-2">프로필</h3>
                <button type="button" id="modifyButton" class="버튼 btn" data-toggle="modal"
                        th:attr="data-target=${#authorization.expression('isAuthenticated()')} ? '#passwordModal' : ''">
                    정보수정
                </button>
            </div>
            <div style="text-align:center; margin:0 auto;" class="my-3">
                <img style="border-radius:50%; width:12%; border:2px solid lightgray;" src="/image/owner.jpg"
                     alt="사장 이미지"
                     class="mb-2" th:if="${user.authority == '사장님'}">
                <img style="border-radius:50%; width:12%; border:2px solid lightgray;" src="/image/customer.jpg"
                     alt="손님 이미지" class="mb-2" th:if="${user.authority == '손님'}">
                <div th:text="${user.name}" class="fw-bold fs-3"></div>
                <div th:text="${user.authority}" class=" fs-5"></div>
                <div class="my-2">
                <span th:text="${user.email}"
                      style="background:lightgray; border:1px solid darkgray; padding:5px; border-radius:10px; font-size:11pt;"></span>
                </div>
                <div style="text-decoration:underline;"
                     th:text="|${#temporals.format(user.createDate, 'yyyy년 MM월 dd일')} 가입|"></div>
            </div>
        </div>
        <div style="width:49%; background:white; padding:20px; border-radius:15px;">
            <h3 class="border-bottom pb-2">채팅 목록</h3>
            <div th:if="${chatList.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">채팅 내역 없음</h3>
            </div>
            <div th:if="${!chatList.isEmpty()}">
                <div th:each="chat : ${chatList}">
                    <div class="card mb-2">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <a th:text="|${chat.writer.loginId}님과 ${chat.target.loginId}님의 대화|"
                               style="background:linen; font-size:13pt; font-weight:bold;"
                               th:href="@{|/chat/join/${chat.room}|}"></a>
                            <form th:action="@{|/chat/delete/${chat.room}}" method="post">
                                <button type="submit" class="btn btn-sm 버튼">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 예약 목록 -->
    <div class="d-flex justify-content-between mb-4" style="width:95%; margin:0 auto;">
        <div style="width:49%; background:white; padding:20px; border-radius:15px;">
            <h3 class="border-bottom pb-2">예약 목록</h3>
            <div th:if="${user.reservations.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">예약 내역 없음</h3>
            </div>
            <div class="row" th:if="${!user.reservations.isEmpty()}">
                <div th:each="reservation : ${user.reservations}" class="col-6">
                    <div class="card mb-2">
                        <div class="card-header" th:text="${reservation.restaurant.name}"
                             style="background: linen;"></div>
                        <div class="card-body">
                            <div th:text="|예약일시 : ${#temporals.format(reservation.dateTime, 'yyyy년 MM월 dd일 hh시 mm분')}|"></div>
                            <div th:text="|인원 수 : ${reservation.count}|"></div>
                            <div th:if="${reservation.status == null}">예약 상태 : 예약 대기</div>
                            <div th:if="${reservation.status != null}" th:text="|예약 상태 : ${reservation.status}|"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:49%; background:white; padding:20px; border-radius:15px;">
            <h3 class="border-bottom pb-2">리뷰 목록</h3>
            <div th:if="${user.reviews.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">작성한 리뷰 없음</h3>
            </div>
            <div th:if="${!user.reviews.isEmpty()}">
                <div th:each="review : ${user.reviews}">
                    <div class="card mb-2">
                        <a class="card-header" th:text="${review.restaurant.name}"
                           style="background:linen; font-size:13pt; font-weight:bold;"
                           th:href="@{|/restaurant/detail/${review.restaurant.id}|}"></a>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div th:text="${review.comment}"></div>
                            <div class="badge bg-light text-dark"
                                 th:text="${#temporals.format(review.regDate, 'yyyy.MM.dd')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 비번 확인 모달 -->
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="modal fade" id="passwordModal" tabindex="-1"
         role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">비밀번호 확인</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{|/user/userCheckPassword/${user.loginId}|}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="form-group mb-2">
                            <label for="password" class="mb-2">비밀번호</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="비밀번호 확인" required/>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" id="submitButton" class="버튼 btn">확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 지우면 모달 작동 안함 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:inline="javascript" layout:fragment="script" type='text/javascript'>
        if ([[${error}]] == true) {
            alert('비밀번호가 일치하지 않습니다');
            document.querySelector('#modifyButton').click();
        }

        console.log([[${roomList}]]);
    </script>
</div>
</html>


