<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- 기본 프로필 -->
    <div class="userPage d-flex justify-content-between my-4" style="width:95%; margin:0 auto;">
        <div id="userInfo" class="shadow">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="border-bottom pb-2">프로필</h3>
                <button type="button" id="modifyButton" class="버튼 btn" data-toggle="modal"
                        th:attr="data-target=${#authorization.expression('isAuthenticated()')} ? '#passwordModal' : ''">
                    정보수정
                </button>
            </div>
            <div class="my-3" id="certificate">
                <h4 class="fw-bold border-bottom pb-2">쩝쩝박사 증명서</h4>
                <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex" style="width:70%;">
                        <img th:src="@{${user.image}}" alt="" class="me-3 p-2 mt-2"
                             style="border-radius:15px; border:1px solid lightgray; width:200px; height:210px;">
                        <div class="p-2">
                            <div class="border-bottom" style="color:gray; font-size:11pt;">이름</div>
                            <div th:text="${user.name}" class="mb-1" style="font-size:13pt;"></div>
                            <div class="border-bottom" style="color:gray; font-size:11pt;">권한</div>
                            <div th:text="${user.authority}" class="mb-1" style="font-size:13pt;"></div>
                            <div class="border-bottom" style="color:gray; font-size:11pt;">이메일</div>
                            <div th:text="${user.email}" class="mb-1" style="font-size:13pt;"></div>
                            <div class="border-bottom" style="color:gray; font-size:11pt;">가입일</div>
                            <div th:text="${#temporals.format(user.createDate, 'yyyy-MM-dd')}"
                                 style="font-size:13pt;"></div>
                        </div>
                    </div>
                    <div class="text-center me-4" style="font-size:13pt; width:30%;">
                        <div>맛찾사에서</div>
                        <div><strong th:text="${user.name}"></strong> 회원이</div>
                        <div><strong>쩝쩝박사</strong>임을 증명합니다.</div>
                        <br>
                        <div style="font-size:11pt;"
                             th:text="${#temporals.format(user.createDate, 'yyyy년 MM월 dd일')}"></div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-1 fw-bold mt-1">쩝 쩝 박 사 관 리 자</div>
                            <img src="/image/logo/도장.png" alt="" style="width:50px; height:50px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3" id="smCertificate">
                <h4 class="fw-bold border-bottom pb-2">쩝쩝박사 증명서</h4>
                <div style="margin:0 auto; width:70%;">
                    <img th:src="@{${user.image}}" alt=""
                         style="border-radius:15px; border:1px solid lightgray; width:200px; height:210px;">
                </div>
                <div style="width:80%; margin:0 auto;">
                    <div class="d-flex mt-3">
                        <div class="pe-1 me-1" style="border-right:2px solid lightgray;">이름</div>
                        <div class="fw-bold" th:text="${user.name}"></div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="pe-1 me-1" style="border-right:2px solid lightgray;">권한</div>
                        <div class="fw-bold" th:text="${user.authority}"></div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="pe-1 me-1" style="border-right:2px solid lightgray;">이메일</div>
                        <div class="fw-bold" th:text="${user.email}"></div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="pe-1 me-1" style="border-right:2px solid lightgray;">가입일</div>
                        <div class="fw-bold" th:text="${#temporals.format(user.createDate, 'yyyy년 MM월 dd일')}"></div>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <div class="me-1 fw-bold mt-1">쩝 쩝 박 사 관 리 자</div>
                        <img src="/image/logo/도장.png" alt="" style="width:50px; height:50px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- 즐찾 -->
        <div id="userFavorite" class="shadow">
            <h3 class="border-bottom pb-2 mb-2">즐겨 찾기 목록</h3>
            <div th:if="${user.favorite.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">즐겨 찾기 없음</h3>
            </div>
            <div th:if="${!user.favorite.isEmpty()}" class="favorites">
                <div th:each="restaurant : ${user.favorite}">
                    <div class="card mb-2">
                        <a class="card-header p-2" th:text="${restaurant.name}"
                           style="background:linen; font-size:12pt; font-weight:bold;"
                           th:href="@{|/restaurant/detail/${restaurant.id}|}"></a>
                        <div class="card-text p-2" th:text="${restaurant.address}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="userPage d-flex justify-content-between mb-4" style="width:95%; margin:0 auto;">
        <!-- 예약 목록 -->
        <div id="userReserve" class="shadow">
            <h3 class="border-bottom pb-2">예약 목록</h3>
            <div th:if="${user.reservations.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">예약 내역 없음</h3>
            </div>
            <div class="reserves row" th:if="${!user.reservations.isEmpty()}">
                <div th:each="reservation : ${user.reservations}" class="col-6">
                    <div class="card mb-2">
                        <div class="card-header d-flex justify-content-between align-items-center"
                             style="background: linen;">
                            <a class="fw-bold" th:text="${reservation.restaurant.name}"
                               th:href="@{|/restaurant/detail/${reservation.restaurant.id}|}"></a>
                            <a href="javascript:void(0)" th:data-uri="@{|/reserve/cancel/${reservation.id}|}"
                               class="btn btn-danger btn-sm" id="cancelBtn">예약 취소</a>
                        </div>
                        <div class="card-body">
                            <div th:text="|예약일시 : ${#temporals.format(reservation.dateTime, 'yyyy년 MM월 dd일 hh시 mm분')}|"></div>
                            <div th:text="|인원 수 : ${reservation.count}|"></div>
                            <div th:if="${reservation.status == null}">예약 상태 : 예약 대기</div>
                            <div th:if="${reservation.status != null}"
                                 th:text="|예약 상태 : ${reservation.status}|"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 리뷰 -->
        <div id="userReview" class="shadow">
            <h3 class="border-bottom pb-2">리뷰 목록</h3>
            <div th:if="${user.reviews.isEmpty()}" class="p-5 text-center">
                <h3 style="color:gray;">작성한 리뷰 없음</h3>
            </div>
            <div class="reviews" th:if="${!user.reviews.isEmpty()}">
                <div th:each="review : ${user.reviews}">
                    <div class="card mb-2">
                        <a class="card-header" th:text="${review.restaurant.name}"
                           style="background:linen; font-size:13pt; font-weight:bold;"
                           th:href="@{|/restaurant/detail/${review.restaurant.id}|}"></a>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div th:text="${review.comment}"></div>
                            <div class="badge bg-light text-dark"
                                 th:text="${#temporals.format(review.regDate, 'yyyy.MM.dd')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 비번 확인 모달 -->
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="modal fade" id="passwordModal"
         tabindex="-1"
         role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">비밀번호 확인</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{|/user/userCheckPassword/${user.loginId}|}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="form-group mb-2">
                            <label for="password" class="mb-2">비밀번호</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="비밀번호 확인" required/>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" id="submitButton" class="버튼 btn">확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 지우면 모달 작동 안함 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:inline="javascript" layout:fragment="script" type='text/javascript'>

        var isLocal = [[${user.local}]];
        var loginId = [[${user.loginId}]]; // 유저의 loginId 가져오기

        // 페이지 로드 시 실행
        document.addEventListener('DOMContentLoaded', function () {
        // local이 false인 경우
        if (!isLocal) {
            // 모달 표시 대신 수정 페이지로 바로 이동
            document.querySelector('#modifyButton').addEventListener('click', function () {
                window.location.href = '/user/snsUserModify/' + loginId; // 수정 페이지의 URL로 변경 (loginId 추가)
                });
            }
        });

        if ([[${error}]] == true) {
            alert('비밀번호가 일치하지 않습니다');
            document.querySelector('#modifyButton').click();
        }

        console.log([[${roomList}]]);

        const cancel = document.querySelectorAll("#cancelBtn");
        Array.from(cancel).forEach(function(element) {
           element.addEventListener('click', function() {
               if (confirm("정말로 취소하시겠습니까?")) {
                   location.href = this.dataset.uri;
               };
           });
       });
    </script>
</div>
</html>


